.gallery-page {
    padding: 2rem;
    max-width: 62.5rem;
    margin: 0 auto;
  }
  
.filter-group {
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;
    margin-bottom: 2rem;
  }
  
.filter-group button {
    border: 1px solid black;
    padding: 0.5rem 1rem;

    background-color: #eee;
    color: black;
  }
  
.filter-group button.active {
    background-color: gold;
    border-color: gold;

    font-weight: bold;
  }
  
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 2rem;
  }
  
.cat-card {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;

    background-color: #eee;

    text-align: center;
    line-height: 1.5;
  }
  
.cat-card img {
    width: 100%;
    max-width: 15rem;
    height: auto;
    border-radius: 0.5rem;
  }
  
h3 {
    color: black;
  }

body.dark .gallery-page h2 {
    color: white;
  }
  
  