.home-page {
    max-width: 44rem;
    margin: 0 auto;
    padding: 2rem;

    line-height: 1.5;
  }
  
  .greeting {
    margin-top: 1rem;

    color: green;

    font-size: 1.2rem;
  }
  
  .cat-list {
    padding-left: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .cat-list li {
    margin-bottom: 0.75rem;
  }
  
  body.dark .home-page h2, 
  body.dark .home-page h3, 
  body.dark .home-page p {
    color: white;
  }

  body.dark .home-page .greeting {
    color: gold;
  }
  