.skip-link {
    position: absolute;

    top: -40px;
    left: 0;
    padding: 8px;

    background: black;
    color: #eee;
  }
  
.skip-link:focus {
    top: 0;
  }
  
.site-header {
    padding: 1rem;

    background-color: black;
    color: #eee;
  }

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.site-logo {
    font-size: 1.5rem;
  }

.hamburger-button {
    display: none;

    border: none;

    background: none;
    color: #eee;

    font-size: 1.5rem;
  }
  
.site-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 1rem;

  }
  
.nav-button {
    background: none;
    border: none;

    color: #eee;

    font-size: 1rem;
  }

.nav-button:hover,
.nav-button:focus {
    color: gold;
  }

.nav-button.active {
    color: gold;

    font-weight: bold;
  }
  
  
@media screen and (max-width: 48rem) {
    .site-nav {
      display: none;
      flex-direction: column;

      gap: 0.5rem;
      margin-top: 1rem;
    }
  
    .site-nav.open {
      display: flex;
    }
  
    .hamburger-button {
      display: block;
    }
  }  